@use '../base/variables' as v;
@use '../base/mixins' as m;


/* CSS */
.btn {
    background-color: v.$verde;
    border: 2px solid v.$negro;
    border-radius: v.$m-radius;
    box-shadow: v.$negro 4px 4px 0 0;
    color: v.$negro;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    font-size: 2rem;
    text-transform: uppercase;
    padding: 0 18px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-transform: uppercase;
    transition-property: background;
    transition-duration: .2s;
    line-height: 30px;
    @include m.tablet {
      line-height: 50px;

  }
}

.btn:hover {
  background-color: v.$rosa;
  color: v.$negro;
  transition-property: background;
  transition-duration: .6s;

}

.btn:active {
  box-shadow: v.$negro 1px 1px 0 0;
  transform: translate(2px, 2px);
}

@media (min-width: 768px) {
  .btn {
    min-width: 120px;
    padding: 0 25px;
  }
}

.btn-sm {
  background-color: v.$verde;
  border-radius: v.$m-radius;
  border: 2px solid v.$negro;
  box-shadow: v.$negro 1.5px;
  color: v.$negro;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  font-size: 1.6rem;
  text-transform: uppercase;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-transform: uppercase;
  padding: 1rem;
  transition-property: background;
  transition-duration: .2s;

}

.btn-sm:hover {
  background-color: v.$rosa;
  color: v.$negro;
  transition-property: background;
  transition-duration: .6s;
}

.btn-sm:active {
  box-shadow: v.$negro 1px 1px 0 0;
  transform: translate(2px, 2px);
}


.btn-destacats {
  background-color: v.$verde;
  border: 2px solid v.$verde-oscuro;
  border-radius: v.$m-radius;
  box-shadow: v.$azul-oscuro 4px 4px 0 0;
  color: v.$negro;
  cursor: pointer;
  display: inline-block;
  font-weight: 400;
  font-size: 2rem;
  text-transform: uppercase;
  padding: 0 14px;
  line-height: 40px;
  text-align: center;
  text-decoration: none;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  text-transform: uppercase;
    &:nth-child(2) {
      margin-left: 1rem;
    }
}

.btn-destacats:hover {
  background-color: v.$rosa;
  color: v.$negro;
}

.btn-destacats:active {

  box-shadow: v.$negro 1px 1px 0 0;
  transform: translate(1px, 1px);
}