@use 'variables' as v;

@font-face {
    font-family: 'ClashDisplay';
    src: url('../fonts/ClashDisplay-Bold.ttf') format('truetype'),
         url('../fonts/ClashDisplay-Bold.woff') format('woff'),
         url('../fonts/ClashDisplay-Bold.woff2') format('woff2'),
         url('../fonts/ClashDisplay-Bold.eot'); /* Agrega más formatos de archivo si es necesario */
    font-weight: bold; /* Utiliza el peso bold para la variante bold */
    font-style: normal;
}

@font-face {
    font-family: 'ClashDisplay';
    src: url('../fonts/ClashDisplay-Extralight.ttf') format('truetype'),
         url('../fonts/ClashDisplay-Extralight.woff') format('woff'),
         url('../fonts/ClashDisplay-Extralight.woff2') format('woff2'),
         url('../fonts/ClashDisplay-Extralight.eot'); /* Agrega más formatos de archivo si es necesario */
    font-weight: 200; /* Utiliza el peso 200 para la variante extralight */
    font-style: normal;
}    

@font-face {
    font-family: 'ClashDisplay';
    src: url('../fonts/ClashDisplay-Regular.ttf') format('truetype'),
         url('../fonts/ClashDisplay-Regular.woff') format('woff'),
         url('../fonts/ClashDisplay-Regular.woff2') format('woff2'),
         url('../fonts/ClashDisplay-Regular.eot'); /* Agrega más formatos de archivo si es necesario */
    font-weight: 400; /* Utiliza el peso 200 para la variante extralight */
    font-style: normal;
}   

@font-face {
    font-family: 'ClashDisplay';
    src: url('../fonts/ClashDisplay-Light.ttf') format('truetype'),
         url('../fonts/ClashDisplay-Light.woff') format('woff'),
         url('../fonts/ClashDisplay-Light.woff2') format('woff2'),
         url('../fonts/ClashDisplay-Light.eot'); /* Agrega más formatos de archivo si es necesario */
    font-weight: 300; /* Utiliza el peso 200 para la variante extralight */
    font-style: normal;
}   

@font-face {
    font-family: 'ClashDisplay';
    src: url('../fonts/ClashDisplay-Semibold.ttf') format('truetype'),
         url('../fonts/ClashDisplay-Semibold.woff') format('woff'),
         url('../fonts/ClashDisplay-Semibold.woff2') format('woff2'),
         url('../fonts/ClashDisplay-Semibold.eot'); /* Agrega más formatos de archivo si es necesario */
    font-weight: 600; /* Utiliza el peso 200 para la variante extralight */
    font-style: normal;
}

@font-face {
    font-family: 'ClashDisplay';
    src: url('../fonts/ClashDisplay-Variable.ttf') format('truetype'),
         url('../fonts/ClashDisplay-Variable.woff') format('woff'),
         url('../fonts/ClashDisplay-Variable.woff2') format('woff2'),
         url('../fonts/ClashDisplay-Variable.eot'); /* Agrega más formatos de archivo si es necesario */
    font-weight: 500; /* Utiliza el peso 200 para la variante extralight */
    font-style: normal;
}

body {
    font-family: v.$text-secondary;
    font-size: 1.6rem;
}

p {
    font-family: v.$text-secondary;
    font-size: clamp(1.6rem, 5vw, 2rem);
    line-height: 3rem;
    font-weight: 300;
    color: v.$negro;
}

h1, h2, h3 {
    margin: 0 0 v.$margen 0;
    font-family: v.$text-primary;
}

h1 {
    font-size: clamp(4rem, 5vw, 6.4rem);
    font-weight: 700;
}

h2 {
    font-size: clamp(3.6rem, 5vw, 4rem);
}

h3 {
    font-size: clamp(2.4rem, 5vw, 3.6rem);
}

h6 {
    margin: 0;
}