@use 'variables' as v;

body {
    font-family: v.$text-secondary;
    font-size: 1.6rem;
}

p {
    font-family: v.$text-secondary;
    font-size: 1.6rem;
    font-weight: 300;
    color: v.$negro;
}

h1, h2, h3 {
    margin: 0 0 v.$margen 0;
    font-family: v.$text-primary;
}

h1 {
    font-size: 4.8rem;
    font-weight: 700;
}

h2 {
    font-size: 3.6rem;
}

h3 {
    font-size: 3.2rem;
}