@use 'variables' as v;

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    transition: background-color 1s ease;
    background-color: v.$blanco-roto;
}

*, *:before, *:after {
    box-sizing: inherit;
}

a {
    color: inherit; 
    text-decoration: none; 
}


img {
    max-width: 100%;
    display: block;
}

.contenedor {
    max-width: 140rem;
    width: 80%;
    margin: 0 auto;
}

ul, menu, dir {
    padding-inline-start: 0px;
}

.fade__fx {
    opacity: 0;
    transition: opacity 0.5s ease;
}

.fade__fx.show {
    opacity: 1;
}