@use 'variables' as v;
@use 'mixins' as m;

.text-center {
    text-align: center;
}

.bg-primario {
    background-color: v.$verde;
}

.separador { 
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, v.$verde, v.$rosa, v.$verde);
}

.subrayado {
    background-color: v.$blanco-roto;
    padding: 1rem;
    border-radius: v.$curve;

} 

.typing-animation-container {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    opacity: 1; /* Opacidad inicial */
}


.typing-animation {
    transition: opacity 0.5s ease; /* Transición de opacidad */
    opacity: 0; /* Comienza con opacidad cero */
}

.mt-20 {
    margin-top: 20px;
}

.contenedor-text {
    padding: 1rem 1.8rem;

    @include m.tablet {
        padding: 1rem 6rem;
    }
    @include m.desktopSM {
        padding: 1rem 12rem;
    }

}

span {
    font-weight: 900;
}

.span__rosa {
    color:v.$rosa;
}