@use 'variables' as v;

.text-center {
    text-align: center;
}

.bg-primario {
    background-color: v.$verde;
}

.separador { 
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}

.subrayado {
    background-color: v.$verde;
    padding: 1rem;
    border: 2px solid v.$negro;
    border-radius: v.$radius;
} 

.typing-animation-container {
    display: inline-block;
    overflow: hidden;
    vertical-align: top;
    opacity: 1; /* Opacidad inicial */
}


.typing-animation {
    transition: opacity 0.5s ease; /* Transición de opacidad */
    opacity: 0; /* Comienza con opacidad cero */
}

.mt-20 {
    margin-top: 20px;
}

