// Fuentes
$text-primary: "Playfair Display", serif;
$text-secondary: "Poppins", sans-serif;



// Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;


// Colors
$blanco: #fff;
$negro: #000;
$orange: #F55536;
$orange-soft: #FF773D;


// Unidades
$margen: 5rem;

// Otros
$curve: 2rem