// Fuentes
$text-primary: "Roboto Serif", serif;
$text-secondary: "Roboto", sans-serif;




// Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1024px;


// Colors
$blanco: #fff;
$negro: #000;
$orange: #FC5130;
$orange-soft: #FF773D;
$azul: #35a7ff;
$gris: #D4F5F5;


// Unidades
$margen: 5rem;

// Otros
$curve: 2rem