// Fuentes
$text-primary: 'ClashDisplay', sans-serif;
$text-secondary: "Roboto", sans-serif;

// Media Queries
$phone: 480px;
$tablet: 768px;
$desktop: 1100px;


// Colors
$blanco: #fff;
$negro: #000;
$orange: #FC5130;
$orange-soft: #FF773D;
$azul: #35a7ff;
$gris: #E1E5EE;
$rosa: #FE72A9;
$verde: #C6DF76;

// Unidades
$margen: 5rem;

// Broder Radius Cards
$curve: 15px;

// Border Radious Filtros
$radius: 5px;
$b-radius: 15px;