// Fuentes
$text-primary: 'ClashDisplay', sans-serif;
$text-secondary: "Roboto", sans-serif;

// MEDIDAS PARA MEDIA QUERIES 
$phone: 480px;
$tablet: 768px;
$desktopSM: 1000px;
$desktop: 1280px;


// COLORES TEXTO Y BASE
$blanco: #fff;
$text-10: white;
$text-20: #ebebeb;
$text-30: #9d9d9d;
$text-40: #333;
$negro: #000;
$orange-soft: #FF773D;
$gris: #E1E5EE;

// COLORS BENTO
$blanco-roto: #FCFAF4;
$lila: #C3B2E7;
$lila-fuerte: #52225e;
$rosa: #f682a5;
$amarillo: #fedf6f;;
$azul: #b8cedc;
$orange: #f36464;
$verde: #c9da8f;
$marron: #4f1316;
$azul-fuerte: #007aff;

// Unidades
$margen: 5rem;

// Broder Radius Cards
$curve: 15px;

// Border Radious Filtros
$radius: 5px;
$b-radius: 15px;