@use '../base/variables' as v;
@use '../base/mixins' as m;
@use '../base/utilidades' as u;

.hero {
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &-wrap {
        margin-top: 3.5rem; // Ajusta el margen superior según sea necesario
    }

    &__bg {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        border-radius: v.$b-radius;
    }
}

.header {
    margin-top: 0; /* Reiniciar el margen superior */
}


.home-hero {
    background-size: cover; /* Ajusta la imagen para cubrir el área completa */
    background-position: bottom; /* Centra la imagen */
    background-repeat: no-repeat;
    border: 1px solid v.$negro;
    border-radius: 15px;
    /* Puedes agregar más estilos según sea necesario */
}

.hero__content {
    max-width: 90rem;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.hero__content h1 {
    font-family: v.$text-primary;
    margin: 0;

    @include m.phone {
        font-size: 4rem;
        font-weight: 900;
    }

    @include m.desktop {
        font-size: 7rem;
        font-weight: 900;
    }
}

.hero__content--title span {
    color: v.$verde;
}

.hero__content--subtitle {
    font-family: v.$text-primary;
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
}

.hero__content h1, p {
    color: v.$negro;
}

.hero__content--text {
    font-size: 2rem;
    font-weight: 300;
}

.hero__content--btn {
    padding-top: 2rem;
}


/* Qui som section */
.quisom__section {
    margin-top: 3rem;
    height: 100vh;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

.quisom__contenedor {
    padding: 10rem 0 0 0;
}

.quisom__contenedor span {
    font-weight: 700;
}

.quisom__two-columns {    
    align-items: center;

    @include m.desktop {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 40px;
    }

}

.quisom__two-columns h1 {
    color: v.$negro;
}

.quisom__two-columns p {
    color: v.$negro;
}

.quisom__column--one {
    padding-top: 8rem;
}

.quisom__column--one p {
    font-size: 4rem;
    font-weight: 600;
    line-height: 4.5rem;
    font-family: v.$text-primary;
}

.quisom__column--two h2 {
    font-size: 6rem;
}

.quisom__column--two p {
    font-size: 2rem;
    line-height: 3rem;
}

// Destacats
.seccio-destacats {
    margin-top: 10rem;
    height: 90vh;
}

.destacats__in {
    display: flex;
    justify-content: space-between;
}



.destacats-grid-container {
    overflow-x: auto;
    white-space: nowrap; /* Evita que los elementos se envuelvan */
}


.destacats-grid {
    display: flex;
}

.destacats {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 6rem;
    overflow-x: auto; /* Hacer que el carrusel sea desplazable horizontalmente */
    white-space: nowrap; /* Evitar que los elementos se rompan */
    -webkit-overflow-scrolling: touch; /* Mejorar el desplazamiento en dispositivos táctiles */
    scroll-snap-type: x mandatory; /* Activar el snap scroll horizontal */
    scrollbar-width: none; /* Ocultar la barra de desplazamiento en Firefox */

    .listado-grid {
        display: flex; /* Cambiar a flex para ajustar el tamaño de los elementos */
        flex-wrap: nowrap; /* Evitar que los elementos se rompan */
    }

    .espectacles__card {
        flex: 0 0 calc(25% - 20px); /* Ancho del elemento del carrusel (25% del ancho total menos márgenes) */
        margin-right: 20px; /* Márgenes entre elementos del carrusel */
        scroll-snap-align: start; /* Alinear elementos con el punto de anclaje */

        // Estilos adicionales para los elementos del carrusel
        &--img img {
            width: 100%; /* Ajustar la imagen al contenedor */
        }
    }

    // Estilos para ocultar la barra de desplazamiento
    &::-webkit-scrollbar {
        display: none; /* Ocultar la barra de desplazamiento en WebKit */
    }
}

.espectacles__hover {
    width: 100%; /* o ajusta el valor según sea necesario */
}

.espectacles__descripcion {
    white-space: normal; /* permite que el texto se envuelva */
}

.destacats__titulo {
    max-width: 70%;
    h2 {
        margin-bottom: 0;
        font-size: 6rem;
    }
}

.flecha-izquierda {
    left: 10px;
}
.flecha-derecha {
    right: 10px;
}

// CTA
.cta {
    height: 50vh;
}



