@use '../base/variables' as v;
@use '../base/mixins' as m;
@use '../base/utilidades' as u;

.hero {
    height: 74vh;
    display: flex;
    flex-direction: column;
    //justify-content: center;
    margin-top: 5%;
    padding-top: 10%;
    align-items: center;

    @include m.tablet {
        margin-top: 0;
        height: 80vh;

    }

    &-wrap {
        margin-top: 3.5rem; // Ajusta el margen superior según sea necesario
    }

    &__bg {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        border-radius: v.$b-radius;
    }
}

.header {
    margin-top: 0; /* Reiniciar el margen superior */
}


.home-hero {
    background-size: cover; /* Ajusta la imagen para cubrir el área completa */
    background-position: bottom; /* Centra la imagen */
    background-repeat: no-repeat;
    border-radius: v.$b-radius;
    border: 2px solid v.$negro;
    box-shadow: v.$negro 1.5px 1.5px 0 0;
    transform: translate(1.5px, 1.5px);
    box-shadow: 0 0 rgba(0, 0, 0, 0), 0 1px .4px rgba(0, 0, 0, .03), 0 2px .8px rgba(0, 0, 0, .04), 0 3px 1.6px rgba(0, 0, 0, .043), 0 5px 2.9px rgba(0, 0, 0, .047), 0 9px 5.3px rgba(0, 0, 0, .047), 0 15px 10.4px rgba(0, 0, 0, .05), 0 31px 22.8px rgba(0, 0, 0, .055);
}

.hero__content {
    max-width: 90rem;
    width: 85%;
    margin: 0 auto;
    text-align: center;
}

.hero__content h1 {
    font-family: v.$text-primary;
    font-size: 3rem;
    margin: 0;
    @include m.tablet {
        font-size: 5.4rem;
    }
    @include m.desktopSM {
        font-size: 6.4rem;
    }
}

.hero__content--title {
    
    h1 {
        color: v.$text-40;
    }

    span {
    color: v.$verde;
    background: linear-gradient(90deg, v.$verde, v.$rosa);	color: transparent;
	-webkit-background-clip: text;
    }
}
.hero__content--subtitle {
    font-family: v.$text-primary;
    font-size: 2.2rem;
    font-weight: 200;
    font-style: italic;
    line-height: 2.4rem;
    padding: 2rem 0rem;
    @include m.tablet {
        font-size: 3rem;
        line-height: 3.4rem;
        padding: 1.4rem 0rem;
    }
}

.hero__content h1, p {
    color: v.$negro;
}

.hero__content--text {
    font-size: 2rem;
    font-weight: 300;
}

.hero__content--btn {
    padding-top: 2rem;
}

.texto-animado {
    font-size: 2rem;
    font-weight: bold;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px v.$rosa; /* Grosor del borde */
    text-stroke: 1px v.$verde; /* Grosor del borde */
    -webkit-background-clip: text;
    background-clip: text;

}

/* Qui som section */
.quisom__section {
    margin-top: 6rem;
    margin-bottom: 2rem;
}

.quisom__contenedor {
    padding: 8rem 0 12rem 0;
}

.quisom__contenedor span {
    font-weight: 700;
}

.quisom__two-columns {    
    align-items: center;

    @include m.desktopSM {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 80px;
    }

}

.quisom__two-columns h1 {
    color: v.$negro;
}

.quisom__two-columns p {
    color: v.$negro;
}

.quisom__column--one {
    padding-top: 2rem;

    @include m.tablet {
        padding-top: 8rem;
    }

    p {
        color: v.$verde-oscuro;
        font-size: 3.4rem;
        font-weight: 600;
        line-height: 4.5rem;
        font-family: v.$text-primary;
    }

    span {
        font-weight: 600;
        text-decoration: underline;
        text-decoration-color: v.$blanco-roto;
    }
}

.quisom__column--two h2 {
    font-size: 4.8rem;
    color: v.$verde;
}

.quisom__column--two p {
    font-size: 2rem;
    line-height: 3rem;
    color: v.$verde-oscuro;
    
}

/*  PRESENTACIO */
.contenedor__presentacio {
    padding-top: 24rem;
    background-color: linear-gradient(v.$verde, v.$blanco-roto, v.$lila);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.presentacio__central {
    padding-bottom: 12rem;
}

.presentacio__central--titulo h1 {
    margin: 0;
}

.presentacio__central--contenido {
    display: flex;
    flex-direction: column;
    align-items: center; // Centra horizontalmente los elementos
    justify-content: center; // Centra verticalmente los elementos
    height: 100%; // Ocupa toda la altura del contenedor padre
}


.presentacio__contenido--texto {
    font-weight: bold;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 2px v.$verde; /* Grosor del borde */
    text-stroke: 2px v.$verde; /* Grosor del borde */
    -webkit-background-clip: text;
    background-clip: text;
    margin-bottom: 2rem;
    text-align: center; 
    overflow: hidden; 
    height: 9.2rem; // Establecer una altura fija
    h1 {
        font-size: 9.2rem;
        white-space: nowrap; /* Evita el salto de línea */
        margin-top: auto; 
    }
}

.horizontal-scrolling-items__item h1 {
    word-spacing: 40px; /* Ajusta el valor según lo que desees */
}


.presentacio__contenido--texto h1 {
    animation: scrollText 20s linear infinite;
    animation-timing-function: ease-in-out;
}

@keyframes scrollText {
    from {
        transform: translateX(0%);
    }
    to {
        transform: translateX(calc(-100% + 100vw));
    }
}

@keyframes infiniteScroll {
    from {transform: translateX(0)}
    to {transform: translateX(-50%)}
  }
  .horizontal-scrolling-items {
    display: flex;
    font-size: 40px;
    width: 2600px;
    animation-name: infiniteScroll;
    animation-duration: 20s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
  .horizontal-scrolling-items__item {
    white-space: nowrap;
  }


// Destacats
.seccio-destacats {
    width: 80%;
    max-width: 1400px;
}

.destacats__in {
    margin-top: 12rem;
    display: flex;
    justify-content: space-between;
}

.destacats-grid-container {
    overflow-x: hidden; /* Oculta la barra de desplazamiento horizontal */
    white-space: nowrap; /* Evita que los elementos se envuelvan */
}

.destacats__titulo {
    h2 {
        font-size: 4.8rem;
        color: v.$azul-oscuro;
        margin-bottom: 0;
    }

    p {
        color: v.$azul-oscuro;
    }
}

.destacats-grid {
    display: flex;
    padding-bottom: 3rem;
}

.destacats {
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 6rem;
    overflow-x: auto; /* Hacer que el carrusel sea desplazable horizontalmente */
    white-space: nowrap; /* Evitar que los elementos se rompan */
    -webkit-overflow-scrolling: touch; /* Mejorar el desplazamiento en dispositivos táctiles */
    scroll-snap-type: x mandatory; /* Activar el snap scroll horizontal */
    scrollbar-width: none; /* Ocultar la barra de desplazamiento en Firefox */

    .listado-grid {
        display: flex; /* Cambiar a flex para ajustar el tamaño de los elementos */
        flex-wrap: nowrap; /* Evitar que los elementos se rompan */
    }

    .espectacles__card {
        flex: 0 0 calc(100% - 20px); 
        margin-right: 26px; /* Márgenes entre elementos del carrusel */
        scroll-snap-align: start; /* Alinear elementos con el punto de anclaje */

        @include m.tablet {
            flex: 0 0 calc(50% - 20px); 
        } 
        @include m.desktopSM {
            flex: 0 0 calc(25% - 20px); 
        } 
       
        // Estilos adicionales para los elementos del carrusel
        &--img img {
            width: 100%; /* Ajustar la imagen al contenedor */
        }
    }

    // Estilos para ocultar la barra de desplazamiento
    &::-webkit-scrollbar {
        display: none; /* Ocultar la barra de desplazamiento en WebKit */
    }
}

.espectacles__hover {
    width: 100%; /* o ajusta el valor según sea necesario */
}

.espectacles__descripcion {
    white-space: normal; /* permite que el texto se envuelva */
}

.flecha-izquierda {
    left: 8px;
    border: 1px solid v.$lila-fuerte;
    border-radius: v.$m-radius;
}
.flecha-derecha {
    right: 8px;
    border: 1px solid v.$lila-fuerte;
    border-radius: v.$m-radius;
}

/* bg colours */
.color-violet {
    background-color: v.$lila;
  }
  .color-blanco {
    background-color: v.$blanco-roto;
  }
  .color-blue {
    background-color: v.$azul;
  }
  .color-green {
    background-color: v.$verde;
  }
  .color-yellow {
    background-color: v.$amarillo;
  }
  .color-orange {
    background-color: v.$orange;
  }
  .color-red {
    background-color: #F2293A;
  }

  /* TALLERS */
  .contenido--tallers {
    margin-top: 8rem;
    margin-bottom: 8rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 15rem;
    padding-bottom: 15rem;
  }

.tallers__imagen,
.tallers__descripcion {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-in, transform 0.5s ease-in;
}
  
.tallers__imagen.show,
.tallers__descripcion.show {
    opacity: 1;
    transform: translateY(0);
}

.tallers__imagen:hover,
.tallers__descripcion:hover {
    transform: scale(1.05);
}

  .tallers__imagen {
    padding-right: 2.4rem;
    img {
        border-radius: v.$b-radius;
    }
  }

  .tallers__descripcion {
    padding-left: 2.4rem;
    background-color: rgba(0, 0, 0, 0.6); 
    border-radius: v.$b-radius;
    border: 1px solid v.$blanco-roto;

    p, h2 {
        color: v.$blanco-roto
    }

    h2 {
        margin: 1rem 0rem;
    }
    .btn-sm {
        background-color: v.$rosa;
    }
  }