@use '../base/variables' as v;
@use '../base/mixins' as m;

.hero {
    height: 98vh;
    display: grid;
}

.home-hero {
    //background-image: url('../assets/img/Hero-01.webp');
    background-size: cover; /* Ajusta la imagen para cubrir el área completa */
    background-position: bottom; /* Centra la imagen */
    background-repeat: no-repeat;
    /* Puedes agregar más estilos según sea necesario */
}

.hero__content {
    max-width: 90rem;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.hero__content h1 {
    font-family: v.$text-primary;
    margin: 0;

    @include m.phone {
        font-size: 4rem;
        font-weight: 900;
    }

    @include m.desktop {
        font-size: 7rem;
        font-weight: 900;
    }
}

.hero__content--subtitle {
    font-family: v.$text-primary;
    font-size: 3rem;
    font-weight: 200;
    font-style: italic;
}

.hero__content h1, p {
    color: v.$negro;
}

.hero__content--text {
    font-size: 2rem;
    font-weight: 300;
}

.hero__content--btn {
    padding-top: 2rem;
}


/* Qui som section */
.quisom__section {
    height: 100vh;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

.quisom__contenedor {
    max-width: 140rem;
    width: 95%;
    margin: 0 auto;
    padding: 8rem 0;
}

.quisom__contenedor span {
    font-weight: 700;
}

.quisom__two-columns {    
    align-items: center;

    @include m.desktop {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 40px;
    }

}

.quisom__two-columns h1 {
    color: v.$negro;
}

.quisom__two-columns p {
    color: v.$negro;
}

.quisom__column--one {
    padding-top: 7rem;
}

.quisom__column--one p {
    font-size: 4rem;
    font-weight: 600;
    font-family: v.$text-primary;
}

.quisom__column--two h2 {
    font-size: 6rem;
}

.quisom__column--two p {
    font-size: 2rem;
    line-height: 3rem;
}

/* Espectacles section */
.espectacles__section {
    height: 80vh;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: contain;
}

.espectacles__contenedor {
    max-width: 140rem;
    width: 95%;
    margin: 0 auto;
    padding: 8rem 0;
}

.espectacles__two-columns {
    align-items: center;

    @include m.desktop {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 120px;
    }
}