@use '../base/variables' as v;

.espectacles__hero {
    padding-top: 10rem;
    text-align: center;
}

.espectacles__hero h1 {
    font-family: v.$text-secondary;
    font-size: 4rem;
    font-weight: 800;
    text-transform: uppercase;
    padding-bottom: 2.5rem;
 
}

.filtros {
    text-align: center;
}

.filtro-btn {
    padding: 1rem 2rem;
    margin-right: 1rem;
    border: none;
    border-radius: 5rem;
    cursor: pointer;
    box-shadow: none;
}

.espectacles__sub p {
    text-align: center;
}