@use '../base/variables' as v;

.espectacles__hero {
    padding-top: 2rem;
    text-align: center;
}

.espectacles__hero h1 {
    font-family: v.$text-secondary;
    font-size: 4rem;
    font-weight: 800;
    text-transform: uppercase;
    padding-bottom: 2.5rem;
 
}

.espectacles__sub p {
    text-align: center;

    span {
        text-decoration: underline;
        text-decoration-color: v.$rosa;
        text-decoration-thickness: 2.4px;
    }

}