@use 'base/variables' as v;
@use 'base/mixins' as m;

.talleres__in {
    padding-top: 4.8rem;
    text-align: center;
}

.tallers__contenedor {
    margin-bottom: 8rem;

    h1 {
        text-decoration: underline;
        text-decoration-color: v.$rosa;
        text-decoration-thickness: 2.4px;
    }
}

.talleres__columns {
    margin-top: 8rem;
    display: flex
    h2 {
        margin: 0;
    }
    @include m.tablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 2rem;
    }
}

.talleres__column--1 {
    padding: 2rem;

    @include m.desktopSM {
        padding: 4rem;
    }
}
.talleres__column--2 {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
        margin: 0;
    }
}

.talleres__column--1 img {
    width: 400px;
    border-radius: v.$m-radius;
}

.columna-roja {
    background-color: v.$blanco-roto;
    border-radius: v.$b-radius;
    border: 1px solid v.$negro;
    h2 {
        color: v.$negro;
        margin: 0;
    }
    p {
        color: v.$negro;
    }
}

.columna-lila {
    background-color: v.$lila-fuerte;
    border-radius: v.$b-radius;
    border: 1px solid v.$negro;
    h2 {
        color: v.$lila;
        margin: 0;
    }
    p {
        color: v.$lila;
    }
}

.talleres__column--btn {
    display: flex;
}

.btn__taller {
    margin-right: 1rem;
}

.talleres__column--video p {
    font-size: 1.6rem;
}