@use 'base/variables' as v;

.talleres__in {
    padding-top: 4.8rem;
    text-align: center;
}

.tallers__contenedor {
    margin-bottom: 8rem;
}

.talleres__columns {
    margin-top: 8rem;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    h2 {
        margin: 0;
    }
}

.talleres__column--1 {
    padding: 4rem;
}
.talleres__column--2 {
    padding: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    h2 {
        margin: 0;
    }
}

.talleres__column--1 img {
    width: 400px;
    border-radius: v.$m-radius;
}

.columna-roja {
    background-color: v.$blanco-roto;
    border-radius: v.$b-radius;
    border: 1px solid v.$negro;
    h2 {
        color: v.$negro;
        margin: 0;
    }
    p {
        color: v.$negro;
    }
}

.columna-lila {
    background-color: v.$lila-fuerte;
    border-radius: v.$b-radius;
    border: 1px solid v.$negro;
    h2 {
        color: v.$lila;
        margin: 0;
    }
    p {
        color: v.$lila;
    }
}