@use 'base/mixins' as m;

.header {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

.contenido-header {
    display: flex;
    justify-content: space-between;
    padding: 2rem 0;
}

.contenido-header ul {
    display: flex;
    padding: 0 2rem;
    text-decoration: none;
    list-style-type: none;
}

.header__menu {
    font-size: 1.6rem;
    font-weight: 300;
    text-transform: uppercase;
}

.header__menu a {
    padding-left: 3rem;
}

