@use 'base/mixins' as m;

.contenido-header {
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
    @include m.tablet {
        flex-direction: row;
    }
    @include m.desktop {
    }
}



.contenido-header ul {
    display: flex;
    padding: 0 2rem;
    text-decoration: none;
    list-style-type: none;
}

.menu-principal {

}