@use 'base/mixins' as m;
@use 'base/variables' as v;
@use 'base/utilidades' as u;

.header {
    width: 100%; 
    background-color: v.$blanco;
    transition: height 0.4s, padding 0.4s; 

    &__espectacles p {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 1.6rem;
    }

    &__contenido {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem 2rem;
        border: 1px solid v.$negro;
        border-radius: 0 0 v.$b-radius v.$b-radius;
        border-top: 0;

        &.scroll-down {
            height: 5rem;
            padding: 0.5rem 0;
            // Otros estilos para el scroll hacia abajo...
        }

        .logo {
            img {
                width: 140px;
            }
        }
    }

    &.scroll-activo {
        height: 5rem;
        padding: 0.5rem 0;

        p {
            font-size: 1.4rem;
        }

        .logo {
            width: 120px;
        }

        .header {
            background-color: v.$blanco;
            padding: .5rem;
        }

        .contenido-header {
            padding: 0;
        }

        .header__separador {
            height: .5rem;
            background-color: v.$negro;
            margin: 0;
        }
    }

    .hamburguesa {
        display: block;
        cursor: pointer;
        margin-right: 20px;

        .pildora-menu {
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;

            .pildora__texto {
                font-size: 2rem;
            }

            .pildora__tresRallas {
                width: 40px;
                height: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .linea {
                    width: 100%;
                    height: 2px;
                    background-color: #333;
                    transition: all 0.3s ease;
                }
            }
        }
    }
}
