@use 'base/mixins' as m;
@use 'base/variables' as v;
@use 'base/utilidades' as u;

.header {
    width: 100%; 
    background-color: v.$blanco-roto;
    transition: height 0.4s, padding 0.4s; 
    

    &__espectacles p {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 1.6rem;
    }

    &__contenido {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: .5rem;
        padding: .5rem 2rem;
        background-color: v.$blanco-roto;
        border-top: 0;
        border-radius: v.$b-radius;
        border: 2px solid v.$negro;
        box-shadow: v.$negro 1.5px 1.5px 0 0;
        transform: translate(1.5px, 1.5px);
        box-shadow: 0 0 rgba(0, 0, 0, 0), 0 1px .4px rgba(0, 0, 0, .03), 0 2px .8px rgba(0, 0, 0, .04), 0 3px 1.6px rgba(0, 0, 0, .043), 0 5px 2.9px rgba(0, 0, 0, .047), 0 9px 5.3px rgba(0, 0, 0, .047), 0 15px 10.4px rgba(0, 0, 0, .05), 0 31px 22.8px rgba(0, 0, 0, .055);

        &.scroll-down {
            height: 5rem;
            padding: 0.5rem 0;
            // Otros estilos para el scroll hacia abajo...
        }

        .logo {
            img {
                width: 140px;
            }
        }
    }

    &.scroll-activo {
        height: 5rem;
        padding: 0.5rem 0;

        p {
            font-size: 1.4rem;
        }

        .logo {
            width: 120px;
        }

        .header {
            background-color: transparent;
            padding: .5rem;
        }

        .contenido-header {
            padding: 0;
        }

        .header__separador {
            height: .5rem;
            background-color: v.$negro;
            margin: 0;
        }
    }

    .hamburguesa {
        display: block;
        cursor: pointer;
        margin-right: 20px;

        .pildora-menu {
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;

            .pildora__texto {
                font-size: 2rem;
            }

            .pildora__tresRallas {
                width: 40px;
                height: 20px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                .linea {
                    width: 100%;
                    height: 2px;
                    background-color: #333;
                    transition: all 0.3s ease;
                }
            }
        }
    }
}