@use 'base/variables' as v;
@use 'base/mixins' as m;

.menu-desplegable {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 2rem 0;
    overflow-y: auto;
    background-color: v.$rosa;
    transition: transform 0.5s ease-in-out, opacity 0.2s ease-in-out;
    transform: translateY(-100%);
    opacity: 0;
    z-index: 1000;

    &.activo {
        transform: translateY(0);
        opacity: 1;
        transition: transform 0.5s ease-in-out, opacity 0.2s ease-in-out;

    }

    .zona-superior {
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;

        @include m.tablet {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 1rem;
        }
    }

    .col-central {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .zona-central {
        padding: .5rem;
    }

    .zona-inferior {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        padding: 1rem;
        background-color: v.$rosa;
    }

    .logo-grande {
        img {
            max-width: 160px;
        }
    }
}

.pildora-menu-desplegado {
    display: flex;
    align-items: center;
    gap: 10px; // Espacio entre el texto y las líneas
    cursor: pointer;
    background-color: v.$rosa;

    .pildora__tresRallas-desplegado {
        margin-top: 16px;
        width: 40px;
        height: 15px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        @include m.tablet {
            margin-top: 0;
        }
        
    
        .linea {
            width: 100%;
            height: 2px;
            background-color: v.$verde;
            transition: all 0.3s ease;
        }
    
        .linea:nth-child(1) {
            transform: rotate(45deg) translate(5px, 4px); // Ajustamos la posición para formar la parte superior de la X
        }
    
        .linea:nth-child(2) {
            display: none; // Ocultamos la segunda línea para formar la X
        }
    
        .linea:nth-child(3) {
            transform: rotate(-45deg) translate(5px, -4px); // Ajustamos la posición para formar la parte inferior de la X
        }
    }
}

.pildora__texto-desplegado p {
    display: none;

    @include m.tablet {
        display: flex;
        font-size: 2rem;
        font-weight: bold;
        text-transform: uppercase;
        color: v.$verde;
    }
    @include m.desktopSM {
        font-size: 2.4rem;
    }
    @include m.desktop {
        font-size: 4rem;
    }
}

.logo {
    img {
        width: 160px;
    }
}

.link__espectacles p {
    color: v.$verde;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 2rem;
}

@media screen and (max-width: 500px) {
    .link__espectacles p {
        display: none;
    }
  }

.menu__des {
    padding-top: 5%;

    li {
        color: v.$verde;
        font-family: v.$text-primary;
        font-size: calc(1.8em + 1vw);
        font-weight: 600;
        letter-spacing: .5;
        padding-top: .5rem;
        text-decoration: none;
        text-transform: uppercase;
        list-style: none;
        text-align: center;
    }

    li:hover {
        color: v.$rosa;
        background-color: v.$verde;
    }
}

body.no-scroll {
    overflow: hidden;
}

.logo-grande {
    padding-top: 5%;
}

.redes-sociales {
    display: flex;
    align-items: center;
}

.redes-sociales a {
    color: v.$verde;
    padding-right: 1rem;
}

.header__p--special p {
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 1px v.$verde; /* Grosor del borde */
    text-stroke: 1px v.$verde; /* Grosor del borde */
    -webkit-background-clip: text;
    background-clip: text;
}