@use 'base/mixins' as m;
@use 'base/variables' as v;
@use 'base/utilidades' as u;

.header {
    width: 100%; 
    background-color: v.$blanco-roto;
    transition: height 0.4s, padding 0.4s; 
    

    &__espectacles p {
        text-transform: uppercase;
        font-weight: 400;
        font-size: 1.6rem;
    }

    &__contenido {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-top: .5rem;
        padding: 1rem .5rem;
        background-color: v.$blanco-roto;
        border-top: 0;
        border-radius: 16px;
        border: 2px solid v.$negro;
        box-shadow: v.$negro 1.5px 1.5px 0 0;
        transform: translate(1.5px, 1.5px);
        box-shadow: 0 0 rgba(0, 0, 0, 0), 0 1px .4px rgba(0, 0, 0, .03), 0 2px .8px rgba(0, 0, 0, .04), 0 3px 1.6px rgba(0, 0, 0, .043), 0 5px 2.9px rgba(0, 0, 0, .047), 0 9px 5.3px rgba(0, 0, 0, .047), 0 15px 10.4px rgba(0, 0, 0, .05), 0 31px 22.8px rgba(0, 0, 0, .055);

        @include m.tablet {
            border-radius: v.$b-radius;
            padding: .5rem 2rem;
        }

        &.scroll-down {
            height: 5rem;
            padding: 0.5rem 0;
        }

        .logo {
            img {
                width: 140px;
                padding-left: 1rem;
                @include m.tablet {
                    padding-left: .4rem;
                }
            }
        }
    }

    &.scroll-activo {
        height: 5rem;
        padding: 0.5rem 0;

        p {
            font-size: 1.4rem;
        }

        .logo {
            width: 120px;
        }

        .header {
            background-color: transparent;
            padding: .5rem;
        }

        .contenido-header {
            padding: 0;
        }

        .header__separador {
            height: .5rem;
            background-color: v.$negro;
            margin: 0;
        }
    }

    .hamburguesa {
        display: block;
        cursor: pointer;
        margin-right: 20px;

        .pildora-menu {
            display: flex;
            align-items: center;
            gap: 10px;
            cursor: pointer;            
        }
    }
}

.pildora__texto {
    display: none;

    @include m.tablet {
        display: block;
    }
    
}

.btn__espectecles--contenedor {
    display: none;

    @include m.tablet {
        display: flex;
    }
}

.contenedor__hamburg--menu {
    background-color: v.$verde;
    border: 1px solid v.$negro;
    border-radius: 8px;
    padding: 1rem;
    @include m.tablet {
        background-color: transparent;
        border: none;
        padding: 0rem;
    }
}

.pildora__tresRallas {
    width: 40px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .linea {
        width: 100%;
        height: 2px;
        background-color: #333;
        transition: all 0.3s ease;
    }
}

.pildora__tresRallas:hover .linea:nth-child(1) {
    width: 80%; 
}

.pildora__tresRallas:hover .linea:nth-child(2) {
    width: 50%; 
}

.pildora__tresRallas:hover .linea:nth-child(3) {
    width: 60%; 
}