@use 'base/mixins' as m;
@use 'base/variables' as v;
@use 'base/utilidades' as u;

.sticky-menu {
  width: 100%;
  position: fixed; /* Utiliza position: fixed; para que el menú se quede pegado en la parte superior de la ventana */
  bottom: 0;
  margin-bottom: .5rem;
  top: auto;
  z-index: 1001;
  align-items: center;
  opacity: 0; /* Inicialmente oculta el menú */
  transition: opacity 0.5s ease; /* Agrega una transición suave para la opacidad */

  &.show-menu {
      opacity: 1; /* Muestra el menú cuando tiene la clase show-menu */
  }
}

.menu-sticky {
    a {
        padding: .8rem 1.6rem;
    }
}

.sticky__contenido .header__contenido {

    align-items: center;
    margin-top: .5rem;
    padding: 1.5rem 2rem;
    background-color: v.$blanco-roto;
    border-radius: v.$b-radius;
    border: 2px solid v.$negro;
    box-shadow: v.$negro 1.5px 1.5px 0 0;
    transform: translate(1.5px, 1.5px);
    box-shadow: 0 0 rgba(0, 0, 0, 0), 0 1px .4px rgba(0, 0, 0, .03), 0 2px .8px rgba(0, 0, 0, .04), 0 3px 1.6px rgba(0, 0, 0, .043), 0 5px 2.9px rgba(0, 0, 0, .047), 0 9px 5.3px rgba(0, 0, 0, .047), 0 15px 10.4px rgba(0, 0, 0, .05), 0 31px 22.8px rgba(0, 0, 0, .055);

      @include m.tablet {
        display: flex;
        justify-content: space-between;
        }

    .logo {
        width: 100px;
    }

    .btn-sm {
        background-color: v.$verde;
        border-radius: v.$m-radius;
        border: 2px solid v.$negro;
        box-shadow: v.$negro 1.5px;
        color: v.$negro;
        cursor: pointer;
        display: inline-block;
        font-weight: 400;
        font-size: 1.4rem;
        text-transform: uppercase;
        text-align: center;
        text-decoration: none;
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        text-transform: uppercase;
        padding: .6rem;

    }
    
}

.btn-sm:hover {
    background-color: v.$rosa;
    color: v.$negro;
}

.btn-sticky {
    background-color: v.$verde;
    border-radius: v.$m-radius;
    border: 1px solid v.$negro;
    box-shadow: v.$negro 1.5px;
    color: v.$negro;
    cursor: pointer;
    display: inline-block;
    font-weight: 400;
    font-size: 1.4rem;
    text-transform: uppercase;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-transform: uppercase;
    padding: .6rem;
}

#menu-inferior {
  visibility:hidden;
  margin: -12px 0;

    @include m.tablet {
      visibility: visible;
      font-weight: 400;
      font-size: 1.4rem;
      margin: 0px;
  }
}

#menu-inferior:hover {
    background-color: v.$verde;
    border-radius: v.$m-radius;
    box-shadow: inset 0 0 0 2px v.$negro;
    box-shadow: v.$negro 1.5px;
    color: v.$negro;

}

.flecha-arriba {
    background-color: v.$verde;
    border: none;
}

/* Fade in desde abajo */
@keyframes fadeInFromBottom {
    from {
      opacity: 0;
      transform: translateY(20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  /* Fade out hacia abajo */
  @keyframes fadeOutToBottom {
    from {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(20px);
    }
  }
  
  /* Agregar una transición suave */
  .show-menu {
    animation: fadeInFromBottom 0.5s ease forwards;
  }
  
  .hide-menu {
    animation: fadeOutToBottom 0.5s ease forwards;
  }
  