@use 'base/variables' as v;

.grid__col--footer {
    padding: 3rem;
    display: grid;
    grid-template-columns: 40% 60%;
}

.bento-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px; /* Espacio entre las cajas */
}

.footer__col1 {
    padding-right: 34px;

    h2 {
        color: v.$rosa;
    }
}

.box {
    background-color: lightgray;
    min-height: 200px;
    padding: 2rem;
    border: 1px solid v.$negro;
    border-radius: v.$m-radius;
    color: v.$negro;
    transition-property: background-color;
    transition-duration: .5s;
    transition-property: box-shadow;
    transition-duration: .3s;
    transform-style: preserve-3d;       
    transition: .5s ease-out;
    transform: translate3d(0px,0px,0);

    &:hover {
        transition-property: background-color;
        transition-duration: .5s;
        background-color: v.$rosa;
        box-shadow: v.$negro -4px 4px 0 0;
        transition-property: box-shadow;
        transition-duration: .4s;
        transform-style: preserve-3d;       
        transition: .5s ease-out;
        transform: translate3d(4px,-4px,0);
    }
    &:active {
        box-shadow: none; 
        transition-property: background-color;
        transition-duration: .5s;
        transition-property: box-shadow;
        transition-duration: .3s;
    }

    h4 {
        font-family: v.$text-primary;
        font-size: 2.4rem;
        font-weight: 500;
        margin: 0;
    }
}

.box1 {
    grid-column: span 2;
    background-color: v.$azul;
    border: 1px solid v.$azul-oscuro;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    h4 {
        color: v.$azul-oscuro;
    }
}

.box1-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
        font-size: 1.6rem;
        line-height: 1.8rem;
        color:v.$azul-oscuro;
    }
}

.box-1-1--text {
    width: 80% ;
}

.box2 {
    grid-column: span 1; 
    background-color: v.$verde;
    h4 {
        color:v.$verde-oscuro;
    }
}

.box3 {
    grid-column: span 1;
    background-color: v.$lila;
    h4 {
        color:v.$lila-fuerte;
    }
}

.box4 {
    grid-column: span 2;
    background-color: v.$amarillo;
    h4 {
        color:v.$amarillo-fuerte;
    }
}

.box-1-1__btn {
    border: 1px solid v.$azul-oscuro;
    border-radius: v.$radius;
    padding: 1rem 1.3rem 1rem 1.3rem;

}
