@use '../base/variables' as v;
@use '../base/mixins' as m;

.grid__col--footer {
    @include m.phone {
        display: flex;
        padding-top: 3rem;
    }

    @include m.tablet {
        padding-top: 3rem;
        display: grid;
    }

    @include m.desktopSM {
        grid-template-columns: 40% 60%;
    }
}

.bento-container {

    @include m.phone {
        display: flex;
        padding: 4rem 0;
    }

    @include m.tablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 30px; 
    }

    @include m.desktopSM {
        padding: 6rem 0;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px; 
    }
}

.footer__bg {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    border-radius: v.$b-radius;
}

.footer__col1 {
    padding: 6rem 3rem;
    display: grid;
    justify-content: space-between;

    h2 {
        color: v.$rosa;
    }
}

.footer__col1--logo {
    display: flex;
    align-items: flex-end;
}

.box {
    background-color: lightgray;
    min-height: 200px;
    padding: 2rem;
    border: 1px solid v.$negro;
    border-radius: v.$m-radius;
    color: v.$negro;
    transition-property: background-color;
    transition-duration: .5s;
    transition-property: box-shadow;
    transition-duration: .3s;
    transform-style: preserve-3d;       
    transition: .5s ease-out;
    transform: translate3d(0px,0px,0);

    &:hover {
        transition-property: background-color;
        transition-duration: .5s;
        background-color: v.$rosa;
        box-shadow: v.$negro -4px 4px 0 0;
        transition-property: box-shadow;
        transition-duration: .3s;
        transform-style: preserve-3d;       
        transition: .3s ease-out;
        transform: translate3d(4px,-4px,0);
    }
    &:active {
        box-shadow: none; 
        transition-property: background-color;
        transition-duration: .3s;
        transition-property: box-shadow;
        transition-duration: .3s;
    }

    h4 {
        font-family: v.$text-primary;
        font-size: 2.4rem;
        font-weight: 500;
        margin: 0;
    }
}



.box1 {

    background-color: v.$azul;
    border: 1px solid v.$azul-oscuro;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include m.tablet {
        grid-column: span 2;
        margin-bottom: 0px;
    }
}


.box1 {
    h4 {
        color: v.$azul-oscuro;
    }
}

.box1-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;

    p {
        font-size: 1.6rem;
        line-height: 1.8rem;
        color:v.$azul-oscuro;
    }
}

.box-1-1--text {
    width: 80% ;
}

.box2 {
    background-color: v.$verde;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-bottom: 3rem;

    @include m.tablet {
        grid-column: span 1;
        margin-bottom: 0px;
    }

    h4 {
        color:v.$verde-oscuro;
        margin: 0;
    }
}

.box3 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: v.$lila;
    margin-bottom: 3rem;

    @include m.tablet {
        margin-bottom: 0px;
    }

    h4 {
        color:v.$lila-fuerte;
    }
}

.box3__2 {
    text-align: center;
    display: flex;
}

.box3__2 a {
    margin-right: .8rem;
    display: grid;
    align-items: center;
    justify-content: center;
    padding: .4rem;
    border: 1px solid v.$lila-fuerte;
    border-radius: v.$radius;
    text-decoration: none; /* Para eliminar el subrayado del enlace */
    
    &:hover {
        transition-property: background-color, box-shadow, transform;
        transition-duration: .5s;
        background-color: v.$rosa-pastel;
        box-shadow: v.$negro -4px 4px 0 0;
        transform-style: preserve-3d;       
        transform: translate3d(4px, -4px, 0);
    }
}


.box4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    grid-column: span 2;
    background-color: v.$amarillo;
    margin-bottom: 3rem;

    @include m.tablet {
        margin-bottom: 0px;
    }

    h4 {
        color:v.$amarillo-fuerte;
    }
}

.svg__link {
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.box4__2 a {
    display: flex;
    font-size: 1.6rem;
    font-weight: 300;
}

.box-1-1__btn {
    border: 1px solid v.$azul-oscuro;
    border-radius: v.$radius;
    padding: 1rem 1.3rem 1rem 1.3rem;
    transition: transform 0.3s ease;

    &:hover {
        cursor: pointer;
        background-color: v.$rosa-pastel;
        transition-property: background-color;
        transition-duration: .5s;
        box-shadow: v.$negro -4px 4px 0 0;
        transition-property: box-shadow;
        transition-duration: .4s;
        transform-style: preserve-3d;       
        transition: .5s ease-out;
        transform: translate3d(4px,-4px,0);
    } 
    &:active {
        box-shadow: none; 
        transition-property: background-color;
        transition-duration: .5s;
        transition-property: box-shadow;
        transition-duration: .3s;
    }
}

.box-1-1__btn--svg {
    transition: transform 0.3s ease;
    display: block;
    width: 100%;
    &:hover {
        transform: rotate(-24deg);
    }
}


.box-2--text p {
    font-size: 1.6rem;
    line-height: 1.8rem;
    color:v.$verde-oscuro;
}

.box2-1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box4__1 {
    p {
        font-size: 1.6rem;
        line-height: 1.8rem;
        color: v.$amarillo-fuerte;
    }
}

.box4__2 i {
    padding: .4rem;
    border: 1px solid v.$lila-fuerte;
    border-radius: v.$radius;
    &:hover {
        transition-property: background-color;
        transition-duration: .5s;
        background-color: v.$rosa-pastel;        
        box-shadow: v.$negro -4px 4px 0 0;
        transition-property: box-shadow;
        transition-duration: .4s;
        transform-style: preserve-3d;       
        transition: .5s ease-out;
        transform: translate3d(4px,-4px,0);
    }
}

.box4__2--1 {
    display: flex;

    &:first-child {
        margin-bottom: 1rem;
    }
}


.svg__icon {
    padding: .4rem;
    border: 1px solid v.$lila-fuerte;
    border-radius: v.$radius;
    &:hover {
        transition-property: background-color;
        transition-duration: .5s;
        background-color: v.$rosa-pastel;        
        box-shadow: v.$negro -4px 4px 0 0;
        transition-property: box-shadow;
        transition-duration: .4s;
        transform-style: preserve-3d;       
        transition: .5s ease-out;
        transform: translate3d(4px,-4px,0);
    }
}

a svg {
    width: 32px; /* Ajusta según el tamaño que necesites */
    height: 32px; /* Ajusta según el tamaño que necesites */
    fill: currentColor; /* Para que herede el color del enlace */
}