@use 'base/variables' as v;
@use '../base/mixins' as m;

.copyright-contenedor {
    background-color: v.$blanco-roto;
}

.copy {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    padding: 0 1rem;
}

.copy__legal p {
    font-size: 1.2rem;

    @include m.tablet {
        font-size: 1.4rem;
    }
}

.copy__design p {
    font-size: 1.2rem;

    @include m.tablet {
        font-size: 1.4rem;
    }
}