@use '../base/variables' as v;
@use '../base/utilidades' as u;

.espectacles__card {
  position: relative;
  display: block;
  background-color: v.$blanco-roto;
  height: 100%;
  border-radius: v.$b-radius;
  border: 1.5px solid v.$negro;
  box-shadow: v.$negro 1.5px 1.5px 0 0;
  transform: translate(1.5px, 1.5px);
  box-shadow: 0 0 rgba(0, 0, 0, 0), 0 1px .4px rgba(0, 0, 0, .03), 0 2px .8px rgba(0, 0, 0, .04), 0 3px 1.6px rgba(0, 0, 0, .043), 0 5px 2.9px rgba(0, 0, 0, .047), 0 9px 5.3px rgba(0, 0, 0, .047), 0 15px 10.4px rgba(0, 0, 0, .05), 0 31px 22.8px rgba(0, 0, 0, .055);
  overflow: hidden;
  margin-bottom: 20px;
  transition: opacity 0.4s ease-in-out;
  margin-bottom: 20p;
}

.espectacles__card img {
  width: 100%;
  height: auto;
  max-height: 600px; /* Limitamos la altura máxima de la imagen */
  object-fit: cover;
}

.espectacles__contenido {
  position: relative;
  padding: 4px;
}

.peu__card {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

/* Estilos para el título visible */
.espectacles__titulo {
  font-size: 2rem; /* Ajusta según necesites */
  margin-bottom: .5rem; /* Ajusta según necesites */
  font-family: v.$text-secondary;
  font-weight: 400;
  color: v.$negro;
  text-transform: uppercase;
  transition: transform 0.4s ease-in-out; /* Agregamos una transición */
  text-align: center;
}

.espectacles__autor {
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;
  color: v.$negro;
  margin: 0;
}

/* Estilos para el título al hacer hover */
.espectacles__card:hover .espectacles__titulo .espectacles__categorias {
  transform: translateY(-100%);
  display: none;
}

.espectacles__categorias {
  list-style: none; /* Elimina los puntos de las listas */
  display: flex;
  padding: .3rem;
  margin: 0;
}

/* Estilos para el contenedor del contenido que se muestra al hacer hover */
.espectacles__hover {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: v.$m-radius; 
  background-color: v.$blanco-roto;
  transform: translateY(100%);
  transition: .4s ease-in-out;
  padding: 10px;
  opacity: 0;
  pointer-events: none;
}

.espectacles__hover h3 {
  text-align: center;
  color: #000;
  margin-bottom: 1rem;
  font-size: 2rem;
}

/* Estilos para la tarjeta al hacer hover */
.espectacles__card:hover .espectacles__hover {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

.espectacles__titulo:hover {
  display: none;
}

.espectacles__descripcion {
  padding: 1rem 0;
  color: v.$negro;
  font-family: v.$text-secondary;
  font-weight: 300;
  font-size: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
}

.espectacles__boton-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  margin-top: 10px; /* Ajusta según sea necesario */
}

/* Estilos para las categorías */
.espectacles__categorias {
  display: flex;
  gap: 5px;
  justify-content: center; /* Centra los elementos horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */
  flex-wrap: wrap; /* Permite que las categorías se envuelvan si no caben en una sola línea */
}

/* Estilos para las categorías individuales */
.espectacles__categoria {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid v.$negro;
  border-radius: v.$radius;
  font-size: 14px;
}

/* Estilos para las categorías pastel */
.espectacles__categoria--todos {
  background-color: v.$gris;
}

.espectacles__categoria--teatre {
  background-color: v.$melocoton_pastel;
}

.espectacles__categoria--musica {
  background-color: v.$aguamarina_pastel;
}

.espectacles__categoria--infantil {
  background-color: v.$rosa_pastel;
}

.espectacles__categoria--contes {
  background-color: v.$naranja_pastel;
}

.espectacles__categoria--monoleg {
  background-color: v.$azul_cielo_pastel;
}

.espectacles__categoria--lgtbiq {
  background-color: v.$lila_pastel;
}

.espectacles__categoria--feminisme {
  background-color: v.$verde_menta_pastel;
}

.espectacles__categoria--igualtat {
  background-color: v.$rosa_pastel_claro;
}

.espectacles__categoria--ecologia {
  background-color: v.$azul_pastel;
}

.espectacles__categoria--magia {
  background-color: v.$amarillo_pastel;
}

.espectacles__categoria--infantil {
  background-color: v.$rosa_suave;
}

.espectacles__categoria--adults {
  background-color: v.$verde_suave;
}
