@use '../base/variables' as v;
@use '../base/utilidades' as u;
@use '../base/mixins' as m;

.espectacles__card {
  position: relative;
  display: block;
  background-color: v.$blanco-roto;
  // height: 100%;
  border-radius: v.$b-radius;
  border: 1px solid v.$negro;
  box-shadow: v.$negro 1.5px 1.5px 0 0;
  transform: translate(1.5px, 1.5px);
  box-shadow: 0 0 rgba(0, 0, 0, 0), 0 1px .4px rgba(0, 0, 0, .03), 0 2px .8px rgba(0, 0, 0, .04), 0 3px 1.6px rgba(0, 0, 0, .043), 0 5px 2.9px rgba(0, 0, 0, .047), 0 9px 5.3px rgba(0, 0, 0, .047), 0 15px 10.4px rgba(0, 0, 0, .05), 0 31px 22.8px rgba(0, 0, 0, .055);
  overflow: hidden;
  margin-bottom: 60px;
  transition: opacity 0.4s ease-in-out;

  @include m.tablet {
    margin-bottom: 0px;
  }
}

.espectacles__card img {
  width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: cover;
  margin-bottom: -8px;
}

.espectacles__contenido {
  position: relative;
  padding: 0px;
}

/* Estilos para el título visible */
.espectacles__titulo {
  font-size: 2rem; /* Ajusta según necesites */
  margin-bottom: .5rem; /* Ajusta según necesites */
  font-family: v.$text-secondary;
  font-weight: 400;
  color: v.$negro;
  text-transform: uppercase;
  transition: transform 0.4s ease-in-out; /* Agregamos una transición */
  text-align: center;
}

.espectacles__autor {
  font-size: 1.4rem;
  font-weight: 500;
  text-align: center;
  color: v.$negro;
  margin: 0;
}

/* Estilos para el título al hacer hover */
.espectacles__card:hover .espectacles__titulo .espectacles__categorias {
  transform: translateY(-100%);
  display: none;
}

.espectacles__categorias {
  list-style: none; /* Elimina los puntos de las listas */
  display: flex;
  padding: .3rem;
  margin: 0;
}

/* Estilos para el contenedor del contenido que se muestra al hacer hover */
.espectacles__hover {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-top: 1px solid v.$negro;
  border-radius: v.$m-radius; 
  background-color: v.$blanco-roto;
  transform: translateY(100%);
  transition: .4s ease-in-out;
  padding: 8px;
  opacity: 0;
  pointer-events: none;
}

.espectacles__hover h3 {
  text-align: center;
  color: v.$negro;
  text-decoration: underline;
  text-decoration-color: v.$rosa;
  text-decoration-thickness: 2.4px;
  margin-bottom: 0rem;
  font-size: 2.4rem;
}

/* Estilos para la tarjeta al hacer hover */
.espectacles__card:hover .espectacles__hover {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

.espectacles__titulo:hover {
  display: none;
}

.espectacles__descripcion {
  padding: 1rem 0;
  color: v.$negro;
  font-family: v.$text-secondary;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.8rem;
  text-align: center;
}

.espectacles__boton-container {
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-top: 8px;
}

/* Estilos para las categorías */

.espectacles__categorias {
  display: flex;
  gap: 5px;
  justify-content: center; 
  align-items: center; 
  flex-wrap: wrap; 
}

.espectacles__categorias--contenedor {
  border: 1px solid v.$negro;
  border-radius: v.$radius;
  padding: .4rem;
}

/* Estilos para las categorías individuales */
.espectacles__categoria {
  display: inline-block;
  padding: 0px 0px;
  font-size: 0px;
}

/* Estilos para las categorías pastel */
.espectacles__categoria--todos {
  background-color: v.$verde;
}

.peu__card--categorias {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* -------- ICONOS -------- */
// TEATRE
// MUSICA
// INFANTIL
// CONTES
// MONOLEGS

.fas {
  align-items: center;
  padding-right: .8rem;
}

// TEATRE
.espectacles__categoria--teatre {
  background-color: v.$naranja;
  position: relative;
  transition: background-color 0.3s ease; 
}
.fa-mask {
  font-size: v.$icon;
  color: v.$orange;
  transition: color 0.3s ease;
}
.espectacles__categoria--teatre:hover {
  background-color: v.$orange;
}
.espectacles__categoria--teatre:hover .fa-mask {
  color: v.$naranja-pastel;
}

// MUSICA
.espectacles__categoria--musica {
  background-color: v.$amarillo-pastel;
  &:hover {
    background-color: v.$amarillo;
  }
}
.fa-music {
  font-size: v.$icon;
  color: v.$amarillo;
}

/* INFANTIL */
.espectacles__categoria--infantil {
  background-color: v.$amarillo;
  position: relative;
  transition: background-color 0.3s ease; 
}
.fa-children {
  font-size: v.$icon;
  color: v.$amarillo-fuerte;
  transition: color 0.3s ease;
}
.espectacles__categoria--infantil:hover {
  background-color: v.$amarillo-pastel;
}
.espectacles__categoria--infantil:hover .fa-children {
  color: v.$rojo;
}

// CONTES
.espectacles__categoria--contes {
  background-color: v.$naranja-pastel;
  &:hover {
    background-color: v.$naranja;
  }
}

// MONOLEG
.espectacles__categoria--monoleg {
  background-color: v.$azul-pastel;
  position: relative;
  transition: background-color 0.3s ease; 
}
.fa-microphone {
  font-size: v.$icon;
  color: v.$azul-fuerte;
  transition: color 0.3s ease;
}
.espectacles__categoria--monoleg:hover {
  background-color: v.$azul;
}
.espectacles__categoria--monoleg:hover .fa-microphone {
  color: v.$amarillo-pastel;
}

/* LGTBI+Q */
.espectacles__categoria--lgtbiq {
  background-color: v.$rojo-pastel;
  position: relative;
  transition: background-color 0.3s ease; 
}

.fa-star-of-life {
  font-size: v.$icon;
  color: v.$rojo;
  transition: color 0.3s ease; 
}

.espectacles__categoria--lgtbiq:hover {
  background-color: v.$rojo; 
}
.espectacles__categoria--lgtbiq:hover .fa-star-of-life {
  color: v.$rojo-pastel;
}


/* FEMINISME */
.espectacles__categoria--feminisme {
  background-color: v.$lila-pastel;
  position: relative; 
  transition: background-color 0.3s ease; 
}

.fa-heart {
  font-size: v.$icon;
  color: v.$rosa;
  transition: color 0.3s ease; 
}

.espectacles__categoria--feminisme:hover {
  background-color: v.$lila;
}

.espectacles__categoria--feminisme:hover .fa-heart {
  color: v.$lila-fuerte; 
}

/* IGUALTAT */
.espectacles__categoria--igualtat {
  background-color: v.$rosa-pastel;
  position: relative; /* Añadimos position: relative; para alinear el icono */
  transition: background-color 0.3s ease; /* Aplicamos una transición suave al color de fondo */
}
/* Estilo del icono cuando no está en hover */
.fa-equals {
  font-size: v.$icon;
  color: v.$rosa;
  transition: color 0.3s ease; /* Aplicamos una transición suave al color del icono */
}
/* Estilo del icono cuando está en hover */
.espectacles__categoria--igualtat:hover {
  background-color: v.$rosa; /* Al hacer hover, el fondo del botón toma el color del icono */
}
.espectacles__categoria--igualtat:hover .fa-equals {
  color: v.$rosa-pastel; /* Al hacer hover, el color del icono toma el color del fondo del botón */
}


.espectacles__categoria--ecologia {
  background-color: v.$azul-pastel;
  &:hover {
    background-color: v.$azul;
  }
}

.espectacles__categoria--magia {
  background-color: v.$amarillo-pastel;
}

.espectacles__categoria--adults {
  background-color: v.$verde-pastel;
  &:hover {
    background-color: v.$verde;
  }
}

/* ADULTS */

.fa-user {
  font-size: v.$icon;
  color: v.$verde;
  transition: color 0.3s ease; 
}

.espectacles__categoria--adults:hover {
  background-color: v.$verde;
}

.espectacles__categoria--adults:hover .fa-user {
  color: v.$verde-pastel; 
}
