@use '../base/variables' as v;

/* CARD BTN */
.espectacles__btn {
  appearance: none;
  background-color: transparent;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: v.$negro;
  cursor: pointer;
  display: block;
  font-family: v.$text-secondary;
  font-size: 1.6rem;
  font-weight: 300;
  line-height: normal;
  margin: 0 auto;
  min-height: 2rem;
  min-width: 0;
  outline: none;
  padding: 1rem 1.8rem;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 90%;
  will-change: transform;
}


.espectacles__btn:disabled {
  pointer-events: none;
}

.espectacles__btn:hover {
  color: #fff;
  background-color: #1A1A1A;
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.espectacles__btn:active {
  box-shadow: none;
  transform: translateY(0);
}