@use '../base/variables' as v;
@use '../base/utilidades' as u;

.espectacles__card {
  position: relative;
  display: block;
  background-color: v.$blanco;
  height: 100%;
  border: 1px solid v.$negro;
  border-radius: 0 0 v.$b-radius v.$b-radius; /* Mantenemos el borde redondeado en la parte inferior */
  overflow: hidden;
  margin-bottom: 20px;
  border-radius: v.$curve;
  transition: opacity 0.4s ease-in-out;
  margin-bottom: 20p;
}

.espectacles__card img {
  width: 100%;
  height: auto;
  max-height: 600px; /* Limitamos la altura máxima de la imagen */
  object-fit: cover;
}

.espectacles__contenido {
  position: relative;
  padding: 10px;
}

/* Estilos para el título visible */
.espectacles__titulo {
  font-size: 2rem; /* Ajusta según necesites */
  margin-bottom: 10px; /* Ajusta según necesites */
  font-family: v.$text-secondary;
  font-weight: 400;
  color: v.$negro;
  text-transform: uppercase;
  transition: transform 0.4s ease-in-out; /* Agregamos una transición */
  text-align: center;
}

.espectacles__autor {
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;
  color: v.$negro;
}

/* Estilos para el título al hacer hover */
.espectacles__card:hover .espectacles__titulo .espectacles__categorias {
  transform: translateY(-100%);
  display: none;
}

.espectacles__categorias {
  list-style: none; /* Elimina los puntos de las listas */
  display: flex;
  padding: .3rem;
  margin: 0;
}

/* Estilos para el contenedor del contenido que se muestra al hacer hover */
.espectacles__hover {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1;
  border-radius: v.$curve; 
  background-color: v.$blanco;
  transform: translateY(100%);
  transition: .4s ease-in-out;
  padding: 10px;
  opacity: 0;
  pointer-events: none;
}

.espectacles__hover h3 {
  text-align: center;
  color: #000;
  margin-bottom: 1rem;
  font-size: 2rem;
}

/* Estilos para la tarjeta al hacer hover */
.espectacles__card:hover .espectacles__hover {
  transform: translateY(0);
  opacity: 1;
  pointer-events: auto;
}

.espectacles__titulo:hover {
  display: none;
}

.espectacles__descripcion {
  padding: 1rem 0;
  color: v.$negro;
  font-family: v.$text-secondary;
  font-weight: 300;
  font-size: 1.6rem;
  line-height: 1.8rem;
  text-align: center;
}

.espectacles__boton-container {
  display: flex;
  justify-content: center; /* Centra horizontalmente */
  align-items: center; /* Centra verticalmente */
  margin-top: 10px; /* Ajusta según sea necesario */
}

/* Estilos para las categorías */
.espectacles__categorias {
  display: flex;
  gap: 5px;
  justify-content: center; /* Centra los elementos horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */
  flex-wrap: wrap; /* Permite que las categorías se envuelvan si no caben en una sola línea */
}

/* Estilos para las categorías individuales */
.espectacles__categoria {
  display: inline-block;
  padding: 5px 10px;
  border: 1px solid v.$negro;
  border-radius: v.$radius;
  font-size: 14px;
}

/* Estilos para las categorías */
.espectacles__categoria--todos {
  background-color: #E0E0E0; /* Gris */
}

.espectacles__categoria--teatre {
  background-color: #FFD3B6; /* Melocotón pastel */
}

.espectacles__categoria--musica {
  background-color: #B8E0D2; /* Aguamarina pastel */
}

.espectacles__categoria--infantil {
  background-color: #FFB7C3; /* Rosa pastel */
}

.espectacles__categoria--contes {
  background-color: #FFDAC1; /* Naranja pastel */
}

.espectacles__categoria--monoleg {
  background-color: #C3E5EB; /* Azul cielo pastel */
}

.espectacles__categoria--lgtbiq {
  background-color: #F5D4E5; /* Lila pastel */
}

.espectacles__categoria--feminisme {
  background-color: #D3F0F0; /* Verde menta pastel */
}

.espectacles__categoria--igualtat {
  background-color: #FFD8D8; /* Rosa pastel claro */
}

.espectacles__categoria--ecologia {
  background-color: #A2D2FF; /* Azul pastel */
}

.espectacles__categoria--magia {
  background-color: #FFE5CC; /* Amarillo pastel */
}

.espectacles__categoria--infantil {
  background-color: #FAC3D2; /* Rosa suave */
}

.espectacles__categoria--adults {
  background-color: #C6DF76; /* Verde suave */
}


