@use '../base/variables' as v;
@use '../base/utilidades' as u;

.destacats__btn-info {
    display: flex;
    align-items: center;
    text-align: center;
}

.destacats__btn {
    display: flex;
    align-items: flex-end;
    text-align: center;
}

.destacats-grid .espectacles__card {
    position: relative;
    display: block;
    background-color: v.$blanco-roto;
    height: 100%;
    max-width: 300px;
    border: 1px solid v.$lila-fuerte;
    border-radius: 0 0 v.$b-radius v.$b-radius; /* Mantenemos el borde redondeado en la parte inferior */
    overflow: hidden;
    box-shadow: none;
    margin-bottom: 20px;
    border-radius: v.$curve;
    transition: opacity 0.4s ease-in-out;
}

.destacats-grid .espectacles__card img {
    width: 100%;
    height: auto;
    max-height: 380px; /* Limitamos la altura máxima de la imagen */
    object-fit: cover;
  }

  .svg-overlay {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 1rem;
    margin-bottom: 1rem;
    z-index: 1; 
    background-color: v.$blanco-roto;
    border: 1px solid v.$negro;
    border-radius: v.$m-radius;
    color: v.$negro;
    cursor: pointer;
    display: inline-block;
    padding: 1rem;
    align-items: center;
    justify-content: center;
}

.svg-overlay--destacats {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-right: 1rem;
    margin-bottom: 1rem;
    z-index: 1; 
    background-color: v.$blanco-roto;
    border: 1px solid v.$negro;
    border-radius: v.$m-radius;
    color: v.$negro;
    cursor: pointer;
    display: inline-block;
    padding: 1rem 1.4rem;
    align-items: center;
    justify-content: center;
}

.arrow-up {
    transform: rotate(-90deg); /* Rotar la flecha 180 grados */
}

.fas {
    line-height: 0;
    padding-right: 0;
}

.fa-info-circle {
    font-size: 1.8rem;
    color: v.$negro;
}