@use '../base/variables' as v;

.filtros {
    text-align: center;
}

.filtro-btn {
    padding: 1rem 2rem;
    margin: 1rem;
    border: none;
    border-radius: v.$m-radius;
    cursor: pointer;
    box-shadow: none;
    border: 2px solid v.$negro;
    box-shadow: v.$negro 4px 4px 0 0;
    display: inline-block;
    text-transform: uppercase;
    padding: 0 12px;
    line-height: 34px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-transform: uppercase;
    transition-property: background;
    transition-duration: .2s;
}

.filtro-btn:hover {
    color: v.$negro;
    transition-property: background;
    transition-duration: .4s;
  }
  
  .filtro-btn:active {
    box-shadow: v.$negro 1px 1px 0 0;
    transform: translate(2px, 2px);
  }

  .filtro__card--pill {
    padding: .3rem;
  }

  .espectacles__contenido li {
    border-radius: v.$radius;
  }
