@use '../base/variables' as v;

.filtros {
    text-align: center;
}

.filtro-btn {
    padding: 1rem 2rem;
    margin-right: 1rem;
    border: none;
    border-radius: v.$radius;
    cursor: pointer;
    box-shadow: none;
    border: 2px solid v.$negro;
    box-shadow: v.$negro 4px 4px 0 0;
    display: inline-block;
    text-transform: uppercase;
    padding: 0 12px;
    line-height: 34px;
    text-align: center;
    text-decoration: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    text-transform: uppercase;
}

.filtro-btn:hover {
    background-color: v.$rosa;
    color: v.$negro;
  }
  
  .filtro-btn:active {
    box-shadow: v.$negro 2px 2px 0 0;
    transform: translate(2px, 2px);
  }