@use '../base/mixins' as m;

.listado-grid {

    @include m.phone {
        display: block;
        padding: 3rem 0;
    }

    @include m.tablet {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 40px;
        row-gap: 40px;
        padding: 3rem 0;
    }

    @include m.desktopSM {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 40px;
        row-gap: 40px; 
        padding: 3rem 0;
    }

    @include m.desktop {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        column-gap: 40px;
        row-gap: 40px; 
        padding: 3rem 0;
    }
}

